<strong>Recuperaçāo da Senha</strong>

<p>Uma solicitaçāo de recuperaçāo de senha foi realizada para o e-mail ({{email}}).</p>
<p>Se você nāo solicitou resgate de senha, sugerimos atualizar a senha atual.</p>

<p>Para continuar com a recuperaçāo de senha, utilize o token:</p>

<strong>{{token}}</strong>

<p>Ou clique no link abaixo:</p>
<a href="{{link}}">Criar nova senha</a>

<br>
<br>

<strong>ATLAS 101 Company</strong>
